@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*body */
html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p{
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
.title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2rem;
    text-align: center;
}

/*navbar*/
nav{
    background-color: #add0b3b5;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color: #ADD0B3;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #add0b39a;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menubtn{
    display: none;
}


/*hero section*/
#hero{
    background-image: url(image/finalbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: -1;
}
#hero:after{ 
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1ss;
}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #ADD0B3;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
}
#hero p{
    color: whitesmoke;
}
#hero h1:nth-child(1) span{
    animation-delay: .5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}


/*info*/
#info .infocont{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#info .infobot{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
#info .infoitem{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(image/finalbg.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#info .infoitem::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #ADD0B3 0%, yellow 100%);
    opacity: .4;
    z-index: -1;
}
#info .infoitem .icon{
    height: 25px;
    width: 25px;
    margin-bottom: 20px;
}
#info .infoitem h2{
    font-size: 2rem;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#info .infoitem p{
    text-align: left;
}

/*blog*/
#blog .blogcont{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#blog .bloghead h1{
    margin-bottom: 50px;
}
#blog .allblogs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#blog .blogitems{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#blog .bloginfo{
    padding: 30px;
    flex-basis: 50%;
    background-color: whitesmoke;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, rgb(241, 241, 94) 0%, #ADD0B3 100%);
}
#blog .bloginfo h1{
    font-size: 4rem;
    font-weight: 500;
}
#blog .blogimg{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#blog .blogimg::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: black;
    opacity: .10;
}
#blog .blogimg img{
    transition: .3s ease transform;
}
#blog .blogitems:hover .blogimg img{
    transform: scale(1.1);
}
#blog .infograph{
    height: 700px;
    margin-top: 50px;
    margin-bottom: 0px;
}

/*flex*/
#flex .flexcont{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#flex .fleft{
    width: 250px;
    height: 360px;
}
#flex .fright{
    width: 100%;
}
#flex .fright h2{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}
#flex .fleximg{
    display: flex;
    align-items: center;
    justify-content: center;
}
#flex .imgbox{
    width: 100px;
    height: 500px;
    margin: 10px;
    border-radius: 40px;
    background: url(image/f1.JPG);
    background-size: cover;
    background-position: center;
    position: relative;
    transition: width 0.5s;
}
#flex .imgbox:nth-child(2){
    background: url(image/f8finaal.jpg);
    background-size: cover;
    background-position: center;
}
#flex .imgbox:nth-child(3){
    background: url(image/f24.JPG);
    background-size: cover;
    background-position: center;
}
#flex .imgbox:nth-child(4){
    background: url(image/f36final.jpg);
    background-size: cover;
    background-position: center;
}
#flex .imgbox:nth-child(5){
    background: url(image/f37.JPG);
    background-size: cover;
    background-position: center;
}
#flex .imgbox h3{
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}
#flex .imgbox:hover{
    width: 300px;
    cursor: pointer;
}
#flex .imgbox:hover h3{
    opacity: 1;
    bottom: 25px;
}

/*contacts*/
#contact .contactcont{
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}
#contact .contactitems{
    width: 400px;
}
#contact .contacti{
    width: 90%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: .3s ease box-shadow;
}
#contact .contacti:hover{
    box-shadow: 0px 0px 5px #0000002c;
}
#contact .icon{
    width: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contactinfo h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 5px;
}
#contact .contactinfo h2{
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}

/*footer*/
#footer {
    background-image: linear-gradient(60deg, rgb(241, 241, 94) 0%, #ADD0B3 100%);
}
#footer .footer{
    min-height: 100px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer h1{
    font-size: 4rem;
    font-weight: 500;
}
#footer h2{
    color: black;
    font-weight: 500;
    font-size: 1.9rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#footer .socialicon{
    display: flex;
    margin-bottom: 30px;
}
#footer .socialitem{
    height: 40px;
    weight: 40px;
    margin: 0 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: .3s ease transform;
}
#footer .socialitem img{
    filter: grayscale(1);
    transition: .3s ease filter;
}
#footer .socialitem:hover  img{
    filter: grayscale(0);
    transform: scale(1.1);
}
#footer p{
    color: black;
    font-size: 1.3rem;
    text-align: center;
}


/*keyframes*/
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: whitesmoke;
    }
}

/*responsive*/
@media only screen and (min-width:768px){
    h1 .title{
        font-size: 6rem;
    }

    /*hero*/
    #hero h1{
        font-size: 7rem;
    }

    /*info*/
    #info .infobot .infoitem{
        flex-basis: 45%;
        margin: 2.5%;
    }

    /*blog*/
    #blog .blogitems{
        flex-direction: row;
    }
    #blog .blogitems:nth-child(even){
        flex-direction: row-reverse;
    }
    #blog .blogitems{
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #blog .allblogs .bloginfo{
        height: 100%;
    }
    #blog .allblogs .bloginfo .blogimg{
        height: 100%;
    }
    #blog .blogitems .infograph{
        height: 1587px;
        width: 2245px;
    }
}
@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menubtn{
        display: block;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}
